* {
  padding: 0;
  margin: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  line-height: 1;
  font-size: 0.14rem;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  display: block;
  width: 100%;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.flex {
  display: -webkit-box;
  display: flex;
}
.box-flex {
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
.c-center {
  align-items: center;
  justify-content: center;
}
/** start home */
.home {
  overflow-x: hidden;
  position: relative;
  /* height: 22.34rem; */
  background: #4a1a63
    url('https://filex.wx.siyoumi.com/app/act/t_002/img/body_bg_1.jpg') top
    center/100% no-repeat;
}
#snowCanvas {
  top: 0;
  left: 0;
  display: block;
  z-index: 3;
  /* height: 100vh;
  width: 100vw; */
}
.title {
  width: 6.1rem;
  margin: 0 auto 10.2rem;
  padding-top: 1rem;
}
.snow_flow {
  width: 100%;
  top: 1.11rem;
  -webkit-animation: fadeIn 2s linear infinite alternate both;
  animation: fadeIn 2s linear infinite alternate both;
}
.snow_luo {
  width: 100%;
  top: 0rem;
  -webkit-animation: fadeInDown 3s linear infinite both;
  animation: fadeInDown 3s linear infinite both;
}
.flash_light {
  width: 7.33rem;
  margin-left: 0.36rem;
  top: 0.27rem;
  -webkit-animation: fadeIn 0.2s linear infinite alternate both;
  animation: fadeIn 0.2s linear infinite alternate both;
}
.lamp_2 {
  top: 3.1rem;
  right: -0.935rem;
  width: 2.36rem;
  /* opacity: 0.6;
  -webkit-animation: tada 1s linear infinite alternate both;
  animation: tada 1s linear infinite alternate both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; */
}
.lamp_road {
  top: 3.27rem;
  left: 4.01rem;
  width: 2.36rem;
  /* opacity: 0.6;
  -webkit-animation: swing 2s linear infinite alternate both;
  animation: swing 2s linear infinite alternate both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; */
}
.lamp_1 {
  width: 1.36rem;
  top: 5.89rem;
  left: 1.83rem;
  /* -webkit-animation: rotateIn 2s linear infinite alternate both;
  animation: rotateIn 2s linear infinite alternate both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; */
}
.lamp_1_1 {
  width: 1.36rem;
  top: 5.89rem;
  left: 3.51rem;
  /* -webkit-animation: rotateIn_left 2s linear infinite alternate both;
  animation: rotateIn_left 2s linear infinite alternate both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; */
}
.car-yellow {
  width: 2rem;
  top: 3.58rem;
  left: 4.2rem;
  -webkit-animation: fadeOutBottomLeft 3s linear infinite both;
  animation: fadeOutBottomLeft 3s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.car-red {
  width: 2rem;
  top: 4rem;
  left: 1.2rem;
  -webkit-animation: fadeOutBottomRight 3s linear infinite both;
  animation: fadeOutBottomRight 3s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.aircraft {
  width: 2rem;
  top: 5.44rem;
  right: -2rem;
  z-index: 3;
  -webkit-animation: fadeOutBottomLeftAircraft 7s linear infinite both;
  animation: fadeOutBottomLeftAircraft 7s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.aircraft2 {
  width: 2rem;
  top: 2.44rem;
  right: -2rem;
  z-index: 3;
  -webkit-animation: fadeOutBottomLeftAircraft 9s linear infinite both;
  animation: fadeOutBottomLeftAircraft 9s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.pic-icon {
  width: 0.85rem;
  top: 5.67rem;
  left: 3.06rem;
  -webkit-animation: bounce 3s linear infinite both;
  animation: bounce 3s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.bird {
  width: 0.8rem;
  top: 10.44rem;
  left: 0.5rem;
  -webkit-animation: shakeX 10s linear infinite both;
  animation: shakeX 10s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.rule-btn {
  width: 0.73rem;
  top: 9.54rem;
  left: 0.6rem;
  -webkit-animation: pulse 1s linear infinite both;
  animation: pulse 1s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.SantaClaus {
  width: 2rem;
  top: 8.8rem;
  left: 0.8rem;
  /* -webkit-animation: zoomInDown 2s linear infinite both;
  animation: zoomInDown 2s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; */
}
.bear-icon {
  width: 0.66rem;
  top: 10.43rem;
  left: 6.1rem;
  -webkit-animation: shakeX 8s linear infinite both;
  animation: shakeX 8s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.prize-my {
  width: 0.73rem;
  top: 9.5rem;
  left: 6.1rem;
  -webkit-animation: pulse 1s linear infinite both;
  animation: pulse 1s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

/* 楼 */
.floor1 {
  opacity: 0.5;
  width: 2.12rem;
  top: 5.5rem;
  left: 0;
}
.floor2 {
  opacity: 0.5;
  width: 2.21rem;
  top: 7.49rem;
  left: 1rem;
}
.floor3 {
  opacity: 0.5;
  width: 1.93rem;
  top: 7.78rem;
  left: 2.77rem;
  z-index: 2;
}
.floor4 {
  opacity: 0.5;
  width: 3.06rem;
  top: 5.9rem;
  left: 4.06rem;
  z-index: 1;
}
.floor5 {
  opacity: 0.5;
  width: 0.94rem;
  top: 6.1rem;
  right: 0;
  z-index: 0;
}
.tree-red {
  width: 0.4rem;
  top: 9.03rem;
  left: 0.14rem;
}
.tree-red-2 {
  width: 0.4rem;
  top: 9.29rem;
  left: 0.6rem;
}
.tree {
  width: 0.96rem;
  top: 9.4rem;
  left: 2.15rem;
  z-index: 2;
}
.lipstick {
  width: 0.4rem;
  top: 9.55rem;
  left: 4.39rem;
  z-index: 2;
}
.prize-boss {
  width: 1.08rem;
  top: 9.67rem;
  left: 3.28rem;
  z-index: 3;
  text-align: center;
  font-size: 0.19rem;
  font-family: PingFangSC Medium, PingFangSC Medium-Medium;
  font-weight: 700;
  color: #ffffff;
}
.prize-boss p:nth-child(2) {
  font-size: 0.16rem;
  padding: 0.06rem 0;
  font-weight: 400;
}
.prize-boss-status {
  margin: 0 auto;
  width: 0.72rem;
  height: 0.2rem;
  font-size: 0.137rem;
  background-color: #ee4780;
  font-weight: 400;
  border-radius: 0.2rem;
  line-height: 1;
}

/** progress */
.progress-wrap {
  width: 6.79rem;
  margin: 0 auto;
  z-index: 5;
}
.progress-bg {
  position: relative;
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 0.37rem;
  box-sizing: border-box;
  padding: 0 0.08rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/progress_bg.png')
    center center/100% no-repeat;
}
.progress-bar {
  width: 10%;
  height: 0.25rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/progress_bar.png')
    center center no-repeat;
  background-size: cover;
  border-radius: 0.25rem;
}
.box {
  display: inline-block;
  top: -0.68rem;
  width: 0.6rem;
  height: 0.67rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/box.png')
    center center no-repeat;
  background-size: contain;
  opacity: 0.5;
}
.box:nth-of-type(1) {
  top: -0.68rem;
  left: 12%;
}
.box:nth-of-type(2) {
  top: -0.68rem;
  left: 32%;
}
.box:nth-of-type(3) {
  top: -0.68rem;
  left: 52%;
}
.box:nth-of-type(4) {
  top: -0.68rem;
  left: 72%;
}
.box:nth-of-type(5) {
  top: -0.68rem;
  left: 92%;
}
.box-number {
  display: inline-block;
  top: 0.5rem;
  font-size: 0.2rem;
  font-family: SourceHanSansCN Medium, SourceHanSansCN Medium-Medium;
  font-weight: 500;
  text-align: left;
  color: #fdde90;
}
.box-number:nth-of-type(6) {
  left: 13%;
}
.box-number:nth-of-type(7) {
  left: 33%;
}
.box-number:nth-of-type(8) {
  left: 53%;
}
.box-number:nth-of-type(9) {
  left: 73%;
}
.box-number:nth-of-type(10) {
  left: 93%;
}
.exploration-score {
  margin-top: 0.8rem;
  font-size: 0.28rem;
  font-family: PingFangSC Medium, PingFangSC Medium-Medium;
  font-weight: 500;
  text-align: left;
  color: #fdde90;
}

.down-time {
  position: relative;
  width: 7.31rem;
  height: 2.56rem;
  margin: 0rem auto 0.48rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/down-time.png')
    center center no-repeat;
  background-size: contain;
  z-index: 5;
}

.status-text {
  left: 0.69rem;
  bottom: 0.04rem;
  width: 1.6rem;
  height: 0.39rem;
  font-size: 0.24rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.down-text {
  left: 2.83rem;
  bottom: 0.96rem;
  font-size: 0.22rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: left;
  color: #94314d;
}
.down-time-t {
  left: 2.7rem;
  bottom: 0.44rem;
  font-size: 0.21rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.down-time-t i {
  font-style: normal;
  margin-right: 0.04rem;
}
.down-time-t span {
  width: 0.24rem;
  height: 0.37rem;
  background: rgba(202, 52, 103, 0.4);
  border-radius: 0.04rem;
  font-size: 0.3rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  color: #ffffff;
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.04rem;
}
.down-day {
  margin-left: 0.08rem;
}
.btn-wrap {
  position: relative;
  width: 100%;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/snow_bg.png')
    center center no-repeat;
  background-size: cover;
  z-index: 5;
}
.surplus-game-num {
  position: relative;
  width: 2.8rem;
  background: #ffffff;
  border-radius: 0.1rem;
  font-size: 0.28rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: center;
  color: #7a6ea1;
  margin: 0.48rem auto 0.3rem;
  padding: 0.08rem 0;
}
.surplus-game-num::before {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -0.07rem;
  bottom: -0.2rem;
  border: 0.12rem solid;
  border-color: #ffffff transparent transparent;
}
.start-btn {
  width: 4.54rem;
  height: 1.74rem;
  margin: 0 auto;
  -webkit-animation: pulse 1s linear infinite both;
  animation: pulse 1s linear infinite both;
}
.get_btn-ka {
  width: 4.54rem;
  height: 1.74rem;
  margin: 0 auto;
  -webkit-animation: shakeX 8s linear infinite both;
  animation: shakeX 8s linear infinite both;
}
/** end home */

/** start game */
#game {
  display: block;
  height: 100vh;
  width: 100vw;
}
#game_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #dc3d7f;
}
.page_game {
  display: none;
  position: relative;
}
.avatar {
  top: 0.41rem;
  left: 10px;
}
.avatar img {
  position: relative;
  z-index: 1;
  width: 0.78rem;
  height: 0.78rem;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-sizing: border-box;
}
.avatar div {
  min-width: 1.78rem;
  height: 0.58rem;
  background: #f7598e;
  border: 3px solid #ffc87a;
  border-radius: 29px;
  box-sizing: border-box;
  margin-left: -0.3rem;
  /* padding-left: 0.3rem; */
  font-size: 0.38rem;
  font-family: PingFangSC Medium, PingFangSC Medium-Medium;
  font-weight: 500;
  color: #ffffff;
}

.time-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  font-size: 0.44rem;
  font-family: PingFangSC Semibold, PingFangSC Semibold-Semibold;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
  padding: 0.14rem 0.34rem;
}
.downTime-wrap {
  margin-left: 0.15rem;
}
.clock {
  width: 0.4rem;
  height: 0.4rem;
}

.music_icon {
  position: absolute;
  top: 0.41rem;
  right: 0.25rem;
  width: 0.72rem;
  height: 0.72rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/game/music-icon.png')
    no-repeat center / cover;
  z-index: 100;
}
.music_icon.active {
  background-image: url('https://filex.wx.siyoumi.com/app/act/t_002/img/game/music-icon.png');
  -webkit-animation: rotate 5s infinite linear;
  animation: rotate 5s infinite linear;
}

/** 普通 奖品*/
.normal-prize-main {
  display: none;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 1000;
}
.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
}
.normal-prize {
  position: relative;
  z-index: 2;
  height: 10.5rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/prize-box-bg.png')
    no-repeat center / 100% auto;
}
.prize-box-onpen {
  width: 3.34rem;
  margin: 0.78rem auto 0.23rem;
  padding-top: 3.8rem;
}
.prize-box-onpen.active {
  -webkit-animation: shakeX 1s linear infinite both;
  animation: shakeX 1s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.normal-prize-tips {
  position: relative;
  font-size: 0.32rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.finger {
  width: 0.87rem;
  top: 6.27rem;
  left: 4.58rem;
  -webkit-animation: shakeY 8s linear infinite both;
  animation: shakeY 8s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.prize-wrap {
  display: none;
  bottom: 3.7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 7.5rem;
}
.prize-tips {
  font-size: 0.4rem;
  font-family: PingFangSC Semibold, PingFangSC Semibold-Semibold;
  font-weight: 600;
  text-align: center;
  color: #ffdc90;
}
.prize-img {
  width: 4.56rem;
  margin: 0.3rem auto;
}
.btn-reset-prize,
.btn-get-prize {
  display: none;

  position: relative;
  width: 3.2rem;
  height: 0.79rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/btn-reset-prize.png')
    no-repeat center / cover;
  margin: 0 auto;
  font-size: 0.36rem;
  font-family: PingFangSC Medium, PingFangSC Medium-Medium;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  line-height: 1;
}

.btn-SantaClaus {
  width: 3rem;
  top: 50%;
  transform: translateY(-55%);
  right: -1.5rem;
}
/** 大奖  */
.big-prize-main {
  display: none;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 1000;
}
.big-prize {
  position: relative;
  z-index: 2;
  height: 11.8rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/prize-box-bg.png')
    no-repeat center / 100% auto;
}
.big-no-tips {
  padding-top: 2.31rem;
  font-size: 0.6rem;
  font-family: PingFangSC Semibold, PingFangSC Semibold-Semibold;
  font-weight: 600;
  text-align: center;
  color: #ffd97d;
}
.big-no-tips p:nth-child(2) {
  padding-top: 0.53rem;
  font-size: 0.32rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.big-no-prize-box {
  position: relative;
  width: 3.88rem;
  margin: 0 auto;
  left: -0.1rem;
}
.big-prize-red {
  top: 4.5rem;
  width: 6.58rem;
  left: 0.4rem;
}
.big-finger {
  width: 0.87rem;
  top: 6.87rem;
  left: 4.58rem;
  -webkit-animation: shakeY 8s linear infinite both;
  animation: shakeY 8s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.big-prize-tips {
  top: 8rem;
  width: 100%;
  font-size: 0.32rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

/* 游戏结束页 */
.game-end {
  display: none;
  width: 100%;
  top: 0;
  bottom: 0;
  background: #521c65
    url('https://filex.wx.siyoumi.com/app/act/t_002/img/game/game-light-bg.png')
    no-repeat top/100%;
  z-index: 99999;
}
.game-end-score {
  margin: -0.5rem auto 0;
  width: 6.2rem;
  height: 10.81rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/game/game-end-bg.png')
    no-repeat top/100%;
}
.game-end-tips {
  font-size: 0.32rem;
  padding-top: 4rem;
  font-family: PingFangSC Medium, PingFangSC Medium-Medium;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}
.game-get-score {
  margin: 0.59rem auto 0;
  width: 2.71rem;
  height: 2.91rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/game/score-bg.png')
    no-repeat;
  background-size: contain;
  font-size: 0.98rem;
  font-family: PingFangSC Medium, PingFangSC Medium-Medium;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  line-height: 0.73rem;
  text-shadow: 0.05rem 0.05rem 0.27rem 0rem rgba(82, 53, 188, 0.31);
  box-sizing: border-box;
  padding-top: 0.79rem;
}
.surplus-num {
  width: 3.67rem;
  height: 0.77rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/game/score-num-bg.png')
    no-repeat;
  background-size: contain;
  margin: 1.1rem auto 0;
  font-size: 0.28rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.btn-restart-game {
  width: 4rem;
  margin: 0.4rem auto 0.2rem;
}
.back-home {
  width: 4rem;
  margin: 0 auto;
}
.game-load {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  font-size: 16px;
}
.game-load div {
  text-align: center;
  padding-top: 10px;
}
/** end game */
