* {
  padding: 0;
  margin: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  line-height: unset;
  font-size: 0.14rem;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  display: block;
  width: 100%;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.flex {
  display: -webkit-box;
  display: flex;
}
.box-flex {
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
.c-center {
  align-items: center;
  justify-content: center;
}
.weui-toast {
  width: 15em;
  margin-left: -7.8em;
}
/* 视频 */
.video-wrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.btn-skip {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  background: rgba(0, 0, 0, 0.4);
  padding: 0.1rem 0.17rem;
  border-radius: 50rem;
  font-size: 0.24rem;
  color: #fff;
  z-index: 10;
}
/** start home */
.home {
  display: none;
  overflow-x: hidden;
  position: relative;
  /* height: 22.34rem; */
  background: #4a1a63
    url('https://filex.wx.siyoumi.com/app/act/t_002/img/body_bg_1.jpg') top
    center/100% no-repeat;
}
#snowCanvas {
  top: 0;
  left: 0;
  display: block;
  z-index: 3;
  /* height: 100vh; */
  width: 100vw;
}
.title {
  width: 6.1rem;
  margin: 0 auto 10.2rem;
  padding-top: 1rem;
}
.finger-arrow {
  width: 1.12rem;
  left: 50%;
  top: 79vh;
  margin-left: -0.56rem;
  z-index: 4;
  -webkit-animation: fadeInUp 2s linear infinite both;
  animation: fadeInUp 2s linear infinite both;
}
.flash_light {
  width: 7.33rem;
  margin-left: 0.36rem;
  top: 0.27rem;
  -webkit-animation: fadeIn 0.2s linear infinite alternate both;
  animation: fadeIn 0.2s linear infinite alternate both;
}
.lamp_2,
.lamp_yellow_1 {
  top: 4.7rem;
  right: 0rem;
  width: 0.33rem;
}
.lamp_yellow_1 {
  top: 4.9rem;
  right: 2rem;
}
.lamp_center {
  width: 1.18rem;
  left: -0.5rem;
  bottom: 0;
  -webkit-animation: fadeOut 1s linear infinite alternate both;
  animation: fadeOut 1s linear infinite alternate both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.lamp_left {
  width: 1.42rem;
  left: -1.1rem;
  bottom: 0;
  -webkit-animation: fadeOut 1s 1s linear infinite alternate both;
  animation: fadeOut 1s 1s linear infinite alternate both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.lamp_right {
  width: 1.18rem;
  left: 0rem;
  bottom: 0;
  -webkit-animation: fadeOut 1s 0.5s linear infinite alternate both;
  animation: fadeOut 1s 0.5s linear infinite alternate both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.red_lamp_1,
.red_lamp_2 {
  width: 0.3rem;
  left: 4rem;
  top: 7rem;
}
.red_lamp_2 {
  left: 2.4rem;
  top: 7rem;
}
.red_lamp_center {
  width: 0.44rem;
  left: -0.09rem;
  bottom: 0;
  -webkit-animation: fadeOut 1s linear infinite alternate both;
  animation: fadeOut 1s linear infinite alternate both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.red_lamp_left {
  width: 0.79rem;
  left: -0.5rem;
  bottom: 0;
  -webkit-animation: fadeOut 1s 1s linear infinite alternate both;
  animation: fadeOut 1s 1s linear infinite alternate both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.red_lamp_right {
  width: 0.79rem;
  left: 0rem;
  bottom: 0;
  -webkit-animation: fadeOut 1s 0.5s linear infinite alternate both;
  animation: fadeOut 1s 0.5s linear infinite alternate both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.lamp_1 {
  width: 1.36rem;
  top: 5.89rem;
  left: 1.83rem;
  /* -webkit-animation: rotateIn 2s linear infinite alternate both;
  animation: rotateIn 2s linear infinite alternate both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; */
}
.lamp_1_1 {
  width: 1.36rem;
  top: 5.89rem;
  left: 3.51rem;
  /* -webkit-animation: rotateIn_left 2s linear infinite alternate both;
  animation: rotateIn_left 2s linear infinite alternate both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; */
}
.car-yellow {
  width: 2rem;
  top: 3.58rem;
  left: 4.2rem;
  -webkit-animation: fadeOutBottomLeft 8s linear infinite both;
  animation: fadeOutBottomLeft 8s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.car-red {
  width: 2rem;
  top: 4rem;
  left: 1.2rem;
  -webkit-animation: fadeOutBottomRight 5s linear infinite both;
  animation: fadeOutBottomRight 5s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.aircraft {
  width: 1.5rem;
  top: 5.44rem;
  right: -1.5rem;
  z-index: 3;
  -webkit-animation: fadeOutBottomLeftAircraft 7s linear infinite both;
  animation: fadeOutBottomLeftAircraft 7s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.aircraft2 {
  width: 1rem;
  top: 2.44rem;
  left: -1rem;
  z-index: 3;
  -webkit-animation: fadeOutBottomLeftAircraft2 9s linear infinite both;
  animation: fadeOutBottomLeftAircraft2 9s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.pic-icon {
  width: 0.85rem;
  top: 6.4rem;
  left: 3.06rem;
  z-index: 4;

  /* -webkit-animation: bounce 3s linear infinite both;
  animation: bounce 3s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; */
}
.prize-preview-icon {
  width: 0.73rem;
  top: 5.6rem;
  left: 3.06rem;
  z-index: 4;
  -webkit-animation: pulse 1s linear infinite both;
  animation: pulse 1s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.bird {
  width: 0.8rem;
  top: 10.44rem;
  left: 0.5rem;
  /* -webkit-animation: shakeX 10s linear infinite both;
  animation: shakeX 10s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; */
}
.rule-btn {
  width: 0.73rem;
  top: 9.54rem;
  left: 0.6rem;
  z-index: 4;
  -webkit-animation: pulse 1s linear infinite both;
  animation: pulse 1s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.SantaClaus {
  width: 2rem;
  top: 8.8rem;
  left: 0.8rem;
  /* -webkit-animation: zoomInDown 2s linear infinite both;
  animation: zoomInDown 2s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; */
}
.bear-icon {
  width: 0.66rem;
  top: 10.43rem;
  left: 6.1rem;
  /* -webkit-animation: shakeX 8s linear infinite both;
  animation: shakeX 8s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; */
}
.prize-my {
  width: 0.73rem;
  top: 9.5rem;
  left: 6rem;
  -webkit-animation: pulse 1s linear infinite both;
  animation: pulse 1s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  z-index: 5;
}

/* 楼 */
.floor1 {
  /* opacity: 0.5; */
  width: 2.12rem;
  top: 5.5rem;
  left: 0;
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
}
.floor2 {
  /* opacity: 0.5; */
  width: 2.21rem;
  top: 7.49rem;
  left: 1rem;
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
}
.floor3 {
  /* opacity: 0.5; */
  width: 1.93rem;
  top: 7.78rem;
  left: 2.77rem;
  z-index: 2;
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
}
.floor4 {
  /* opacity: 0.5; */
  width: 3.06rem;
  top: 5.9rem;
  left: 4.06rem;
  z-index: 1;
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
}
.floor5 {
  /* opacity: 0.5; */
  width: 0.94rem;
  top: 6.1rem;
  right: 0;
  z-index: 0;
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
}
.clock-no-1,
.clock-no-2,
.clock-no-3,
.clock-no-4,
.clock-no-5 {
  width: 0.85rem;
}
.clock-no-1 {
  top: 8.01rem;
  left: 0.2rem;
}
.clock-no-2 {
  top: 8.88rem;
  left: 1.53rem;
}
.clock-no-3 {
  top: 9.7rem;
  left: 3.29rem;
  z-index: 2;
}
.clock-no-4 {
  top: 8.52rem;
  left: 5.55rem;
  z-index: 1;
}
.clock-no-5 {
  top: 7.59rem;
  left: 6.62rem;
  z-index: 2;
}
.tree-red {
  width: 0.4rem;
  top: 9.03rem;
  left: 0.14rem;
}
.tree-red-2 {
  width: 0.4rem;
  top: 9.29rem;
  left: 0.6rem;
}
.tree {
  width: 0.96rem;
  top: 9.4rem;
  left: 2.15rem;
  z-index: 2;
}
.lipstick {
  width: 0.4rem;
  top: 9.55rem;
  left: 4.39rem;
  z-index: 2;
}
.prize-boss {
  display: none;
  width: 1.08rem;
  top: 9.67rem;
  left: 3.28rem;
  z-index: 3;
  text-align: center;
  font-size: 0.19rem;
  font-family: PingFangSC Medium, PingFangSC Medium-Medium;
  font-weight: 700;
  color: #ffffff;
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
}
.prize-boss p:nth-child(2) {
  font-size: 0.16rem;
  padding: 0.06rem 0;
  font-weight: 400;
}
.prize-boss-status {
  margin: 0 auto;
  width: 0.72rem;
  height: 0.2rem;
  font-size: 0.137rem;
  background-color: #ee4780;
  font-weight: 400;
  border-radius: 0.2rem;
  line-height: 1;
}

/** progress */
.progress-wrap {
  width: 6.79rem;
  margin: 0 auto;
  z-index: 5;
}
.progress-bg {
  position: relative;
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 0.37rem;
  box-sizing: border-box;
  padding: 0 0.08rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/progress_bg.png')
    center center/100% no-repeat;
}
.progress-bar {
  width: 0%;
  height: 0.25rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/progress_bar.png')
    center center no-repeat;
  background-size: cover;
  border-radius: 0.25rem;
}
.box {
  display: inline-block;
  top: -0.68rem;
  width: 0.6rem;
  height: 0.67rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/box.png')
    center center no-repeat;
  background-size: contain;
  opacity: 0.5;
}
.box.active {
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/box-active.png')
    center center no-repeat;
  background-size: contain;
  opacity: 1;
}
.box.caned_chou {
  -webkit-animation: wobble 3s linear infinite both;
  animation: wobble 3s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.box:nth-of-type(1) {
  top: -0.68rem;
  left: 12%;
}
.box:nth-of-type(2) {
  top: -0.68rem;
  left: 32%;
}
.box:nth-of-type(3) {
  top: -0.68rem;
  left: 52%;
}
.box:nth-of-type(4) {
  top: -0.68rem;
  left: 72%;
}
.box:nth-of-type(5) {
  top: -0.68rem;
  left: 92%;
}
.prize_box_can_open {
  display: none;
  top: -1.1rem;
  width: 0.69rem;
  height: 0.38rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/prize_box_can_open.png')
    center center no-repeat;
  background-size: contain;
}
.prize_fun_01_can_open {
  left: 0.75rem;
}
.prize_fun_02_can_open {
  left: 2.15rem;
}
.prize_fun_03_can_open {
  left: 3.5rem;
}
.prize_fun_04_can_open {
  left: 4.85rem;
}
.prize_fun_05_can_open {
  left: 6.23rem;
}
.box-number {
  display: inline-block;
  top: 0.5rem;
  font-size: 0.2rem;
  font-family: SourceHanSansCN Medium, SourceHanSansCN Medium-Medium;
  font-weight: 500;
  text-align: left;
  color: #fdde90;
}
.box-fun1 {
  left: 13%;
}
.box-fun2 {
  left: 33%;
}
.box-fun3 {
  left: 53%;
}
.box-fun4 {
  left: 73%;
}
.box-fun5 {
  left: 93%;
}
.exploration-score {
  margin-top: 0.8rem;
  font-size: 0.28rem;
  font-family: PingFangSC Medium, PingFangSC Medium-Medium;
  font-weight: 500;
  text-align: left;
  color: #fdde90;
}

.down-time {
  position: relative;
  width: 7.31rem;
  height: 2.56rem;
  margin: 0rem auto 0.48rem;
  background-image: url('https://filex.wx.siyoumi.com/app/act/t_002/img/down-time-no-open.png?v=3');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
}
.down_status_box {
  width: 1.77rem;
}
.big_open_status {
  width: 1.91rem;
}
.status-text {
  left: 0.69rem;
  bottom: 0.04rem;
  width: 1.6rem;
  height: 0.39rem;
  font-size: 0.24rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.can-chou-big,
.is_chou_caned {
  display: none;
  width: 4rem;
  left: 2.4rem;
  bottom: 0.4rem;
  font-size: 0.27rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: center;
  color: #94314d;
}
.can-chou-big p:nth-child(1) {
  /* padding-bottom: 0.1rem; */
}
.down-text {
  left: 2.83rem;
  bottom: 0.96rem;
  font-size: 0.22rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: left;
  color: #94314d;
}
.down-time-t {
  left: 2.7rem;
  bottom: 0.44rem;
  font-size: 0.21rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.down-time-t i {
  font-style: normal;
  margin-right: 0.04rem;
}
.down-time-t span {
  width: 0.24rem;
  height: 0.37rem;
  background: rgba(202, 52, 103, 0.4);
  border-radius: 0.04rem;
  font-size: 0.3rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  color: #ffffff;
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.04rem;
}
.down-day {
  margin-left: 0.08rem;
}
.btn-wrap {
  position: relative;
  width: 100%;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/snow_bg.png')
    center center no-repeat;
  background-size: cover;
  z-index: 5;
}
.surplus-game-num {
  position: relative;
  width: 2.8rem;
  background: #ffffff;
  border-radius: 0.1rem;
  font-size: 0.28rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: center;
  color: #7a6ea1;
  margin: 0.48rem auto 0.3rem;
  padding: 0.08rem 0;
}
.surplus-game-num::before {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -0.07rem;
  bottom: -0.2rem;
  border: 0.12rem solid;
  border-color: #ffffff transparent transparent;
}
.start-btn {
  width: 4.54rem;
  height: 1.74rem;
  margin: 0 auto;
  -webkit-animation: pulse-2 1s linear infinite both;
  animation: pulse-2 1s linear infinite both;
}
.get_btn-ka {
  width: 4.54rem;
  height: 1.74rem;
  margin: 0 auto;
  /* -webkit-animation: shakeX 8s linear infinite both;
  animation: shakeX 8s linear infinite both; */
}
/* 海报 */
.poster-wrap {
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1111;
  overflow: auto;
}
#poster {
  display: none;
  width: 7.5rem;
  height: 13.34rem;
}
.poster-title {
  font-size: 0.3rem;
  font-family: PingFangSC Semibold, PingFangSC Semibold-Semibold;
  font-weight: 600;
  text-align: center;
  color: #ffdc90;
}
.poster-title {
  font-size: 0.3rem;
  font-family: PingFangSC Semibold, PingFangSC Semibold-Semibold;
  font-weight: 600;
  text-align: center;
  color: #ffdc90;
  margin-top: 1rem;
}
.poster-down {
  font-size: 0.26rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: left;
  color: #ffdc90;
  line-height: 0.48rem;
}
.poster-down img {
  width: 0.55rem;
  margin-right: 0.26rem;
}
.poster-img-wrap {
  width: 5.7rem;
  min-height: 9.91rem;
  margin: 0.26rem auto 0.45rem;
  border: 0.04rem solid #ffd97d;
  border-radius: 4px;
  padding: 0.1rem;
  box-sizing: border-box;
}
.poster-img {
  width: 100%;
}
.poster-load {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 14px;
  width: 100%;
  text-align: center;
}
/* loading */
.loading-wrap {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #4a1a63 0%, #e24380 100%);

  z-index: 1111;
  overflow: auto;
}
.loading {
  /* width: 100px; */
  /* height: 40px; */
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  margin-top: -1.81rem;
}
.pre-loading {
  width: 3rem;
  margin: 0 auto;
}
.load-SantaClaus {
  position: absolute;
  width: 2rem;
  margin: -1.1rem 0 0 -1rem;
  top: 50%;
  left: 50%;
}
.loading-rule {
  margin-top: 0.6rem;
  font-size: 0.33rem;
}
.loading-tips {
  font-size: 0.33rem;
}
.btn-go-now {
  display: none;
  position: absolute;
  width: 3.98rem;
  margin: 1.81rem 0 0 -1.99rem;
  left: 50%;
}
.btn-go-now.active {
  display: block;
  -webkit-animation: fadeIn 1s linear both;
  animation: fadeIn 1s linear both;
}
/** end home */

/** start game */
#game {
  display: block;
  height: 100vh;
  width: 100vw;
}
#game_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #dc3d7f;
}
.page_game {
  display: none;
  position: relative;
}
.avatar {
  top: 0.41rem;
  left: 10px;
}
.avatar img {
  position: relative;
  z-index: 1;
  width: 0.78rem;
  height: 0.78rem;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-sizing: border-box;
}
.avatar div {
  min-width: 1.78rem;
  height: 0.58rem;
  background: #f7598e;
  border: 3px solid #ffc87a;
  border-radius: 29px;
  box-sizing: border-box;
  margin-left: -0.3rem;
  /* padding-left: 0.3rem; */
  font-size: 0.38rem;
  font-family: PingFangSC Medium, PingFangSC Medium-Medium;
  font-weight: 500;
  color: #ffffff;
}

.time-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  font-size: 0.44rem;
  font-family: PingFangSC Semibold, PingFangSC Semibold-Semibold;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
  padding: 0.14rem 0.34rem;
}
.downTime-wrap {
  margin-left: 0.15rem;
}
.clock {
  width: 0.4rem;
  height: 0.4rem;
}

.music_icon {
  display: none;
  position: absolute;
  top: 0.41rem;
  right: 0.25rem;
  width: 0.72rem;
  height: 0.72rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/game/music-icon.png')
    no-repeat center / cover;
  z-index: 10;
}
.music_icon.active {
  background-image: url('https://filex.wx.siyoumi.com/app/act/t_002/img/game/music-icon.png');
  -webkit-animation: rotate 5s infinite linear;
  animation: rotate 5s infinite linear;
}
.game-previw {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  overflow: auto;
}

.game-preview-bg {
  background: url(http://file.weixin.siyoumi.com/app/act/t_002/img/game/game-pre-bg.png)
    no-repeat center / cover;
  z-index: 100;
  width: 6.61rem;
  height: 11.82rem;
  margin: 0.4rem auto 0;
}
.game-gif {
  width: 4.76rem;
  margin: 0rem auto 0;
  padding-top: 1.2rem;
}
.game-start-btn {
  width: 4rem;
  margin: 0.4rem auto;
}
/** 普通 奖品*/
.normal-prize-main {
  display: none;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 1000;
}
.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
}
.normal-prize {
  position: relative;
  z-index: 2;
  height: 10.5rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/prize-box-bg.png')
    no-repeat center / 100% auto;
}
.prize-box-onpen {
  width: 3.34rem;
  margin: 0.78rem auto 0.23rem;
  padding-top: 3.8rem;
}
.prize-box-onpen.active {
  -webkit-animation: shakeX 1s linear infinite both;
  animation: shakeX 1s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.normal-prize-tips {
  position: relative;
  font-size: 0.32rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.finger {
  width: 0.87rem;
  top: 6.27rem;
  left: 4.58rem;
  -webkit-animation: shakeY 8s linear infinite both;
  animation: shakeY 8s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.prize-wrap {
  display: none;
  bottom: 3.7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 7.5rem;
}
.prize-tips {
  font-size: 0.4rem;
  font-family: PingFangSC Semibold, PingFangSC Semibold-Semibold;
  font-weight: 600;
  text-align: center;
  color: #ffdc90;
}
.prize-img {
  width: 4.56rem;
  margin: 0.3rem auto;
}
.btn-reset-prize,
.btn-get-prize {
  display: none;

  position: relative;
  width: 3.2rem;
  height: 0.79rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/btn-reset-prize.png')
    no-repeat center / cover;
  margin: 0 auto;
  font-size: 0.36rem;
  font-family: PingFangSC Medium, PingFangSC Medium-Medium;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  line-height: 1;
}

.btn-SantaClaus {
  width: 3rem;
  top: 50%;
  transform: translateY(-55%);
  right: -1.5rem;
}
/** 大奖  */
.big-prize-main {
  display: none;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 1000;
}
.big-prize {
  position: relative;
  z-index: 2;
  height: 11.8rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/prize-box-bg.png')
    no-repeat center / 100% auto;
}
.big-no-tips {
  padding-top: 2.31rem;
  font-size: 0.6rem;
  font-family: PingFangSC Semibold, PingFangSC Semibold-Semibold;
  font-weight: 600;
  text-align: center;
  color: #ffd97d;
}
.big-no-tips p:nth-child(2) {
  padding-top: 0.53rem;
  font-size: 0.32rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.big-no-prize {
  /* display: none; */
}

.big-no-prize-box {
  position: relative;
  width: 3.88rem;
  margin: 0 auto;
  left: -0.1rem;
  z-index: 3;
}
.big-no-prize-box.active {
  -webkit-animation: shakeX 1s linear infinite both;
  animation: shakeX 1s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.big-prize-red {
  top: 4.5rem;
  width: 6.58rem;
  left: 0.4rem;
}
.big-finger {
  width: 0.87rem;
  top: 6.87rem;
  left: 4.58rem;
  -webkit-animation: shakeY 8s linear infinite both;
  animation: shakeY 8s linear infinite both;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  z-index: 4;
}
.big-prize-tips {
  top: 8rem;
  width: 100%;
  font-size: 0.32rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
/* 大奖开奖 */
.big-result-prize {
  display: none;
}
.big-result-tips,
.big-result-no {
  display: none;
  padding-top: 1.5rem;
  font-size: 0.36rem;
  font-family: PingFangSC Semibold, PingFangSC Semibold-Semibold;
  font-weight: 600;
  text-align: center;
  color: #ffd97d;
  line-height: 0.48rem;
}
.big-result-no {
  padding-top: 2.3rem;
}
.big-prize-box {
  width: 4.74rem;
  top: 4.33rem;
  left: 1.45rem;
}
.big-prize-gold {
  width: 3rem;
  top: 5.49rem;
  left: 2.25rem;
}
.prize-big-img {
  width: 2.95rem;
  bottom: 5.78rem;
  left: 2.25rem;
}
.big-prize-btn-wrap {
  width: 100%;
  top: 8.55rem;
}
.big-btn-reset-prize,
.big-btn-get-prize {
  display: none;
  width: 3.2rem;
  height: 0.77rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/btn-big-prize.png')
    no-repeat center / 100% auto;
  font-size: 0.32rem;
  font-family: PingFangSC Medium, PingFangSC Medium-Medium;
  font-weight: 500;
  text-align: center;
  color: #be261c;
  margin: 0 auto;
}
.big-btn-reset-prize.active,
.big-btn-get-prize.active {
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

/** 奖品页 */
.my-prize-list-cont {
  background: #521c65
    url('https://filex.wx.siyoumi.com/app/act/t_002/img/prize_list_bg.png')
    no-repeat top/100%;
  /* overflow: auto; */
}
.my-prize-list {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1000;
  background: #73236b;
}
.prize-list-title {
  font-size: 0.34rem;
  font-family: PingFangSC Medium, PingFangSC Medium-Medium;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  line-height: 28px;
  letter-spacing: 7px;
  padding-top: 0.2rem;
}
.prize-list-empty {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.34rem;
  font-family: PingFangSC Medium, PingFangSC Medium-Medium;
  font-weight: 500;
  text-align: center;
  color: #461d59;
}
.prize-list-tips {
  width: 100%;
  margin: 0 auto 0.2rem;
  font-size: 0.26rem;
  font-family: PingFangSC Light, PingFangSC Light-Light;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  line-height: 0.36rem;
  position: absolute;
  top: 12.4rem;
}
.back-home-prize {
  width: 4rem;
  margin: 0rem auto;
  position: absolute;
  top: 11.1rem;
  left: 50%;
  margin-left: -2rem;
}
.prize-list-cont {
  position: relative;
  margin-top: 1.9rem;
  height: 8.1rem;
  overflow: auto;
}
.prize-list-cont.active::before {
  content: '';
  border: 7px solid;
  border-color: #b56cd6 transparent transparent;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 2.3rem;
}

.prize-list-item {
  position: relative;
  width: 6rem;
  margin: 0 auto 0.1rem;
  background: #f7e6ff;
  border-radius: 10px;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  box-sizing: border-box;
  overflow: hidden;
}
.verification-no::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1.76rem;
  height: 1.71rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/verification-no.png')
    no-repeat top/100%;
}
.verification-yes::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1.76rem;
  height: 1.71rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/verification-yes.png')
    no-repeat top/100%;
}
.detial-cont {
  font-size: 0.22rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: left;
  color: #461d59;
  padding: 0.1rem;
  display: none;
}
.prize-item-img {
  width: 1.72rem;
  height: 1.72rem;
}
.list-item-info {
  padding-left: 0.32rem;
  flex: 1;
  z-index: 2;
}
.prize-name {
  font-size: 0.34rem;
  font-family: PingFangSC Medium, PingFangSC Medium-Medium;
  font-weight: 500;

  color: #461d59;
}
.expire-time {
  font-size: 0.22rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  padding: 0.26rem 0 0.37rem;
  color: #461d59;
}
.list-item-info .detail {
  display: -webkit-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-item-info .detail div:nth-child(1) {
  flex: 1;
  font-size: 0.22rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: center;
  color: #461d59;
  display: -webkit-box;
  display: flex;
  align-items: center;
}

.detail-icon {
  display: inline-block;
  width: 0.23rem;
  height: 0.23rem;
  background: url(http://file.weixin.siyoumi.com/app/act/t_002/img/xiangqing.png)
    no-repeat;
  background-size: contain;
  margin-right: 0.05rem;
}
.btn-verify {
  width: 1.2rem;
  height: 0.36rem;
  border: 1px solid #461d59;
  border-radius: 0.18rem;
  font-size: 0.22rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  color: #461d59;
}
.check-wrap {
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.check-wrap-mask {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.password-wrap {
  position: relative;
  z-index: 2;
  width: 6.04rem;
  height: 4.44rem;
  background: #ffffff;
  border: 0.04rem solid #83509a;
  border-radius: 0.2rem;
  margin: 2.1rem auto 0;
}
.password-title {
  padding: 0.7rem 0 0.55rem;
  font-size: 0.34rem;
  font-family: PingFangSC Medium, PingFangSC Medium-Medium;
  font-weight: 500;
  text-align: center;
  color: #000000;
}
.password-text span {
  width: 0.72rem;
  height: 0.77rem;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  background: #f7e6ff;
  font-size: 0.43rem;
  border-radius: 0.1rem;
  font-family: PingFangSC Medium, PingFangSC Medium-Medium;
  font-weight: 500;
  text-align: center;
  text-align: center;
  color: #83509a;
  margin-left: 0.2rem;
}
.password-text span:nth-child(1) {
  margin-left: 0;
}
.btn-password {
  margin: 0.76rem auto 0;
  width: 3.22rem;
  height: 0.78rem;
  border: 0.02rem solid #83509a;
  border-radius: 38px;
  font-size: 0.34rem;
  font-family: PingFangSC Medium, PingFangSC Medium-Medium;
  font-weight: 500;
  text-align: center;
  color: #83509a;
}
#password-input {
  opacity: 0;
  height: 0;
  /* display: none; */
}
/* 活动说明 */
.rule-wrap {
  display: none;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.rule-cont {
  position: relative;
  z-index: 2;
  width: 6.61rem;
  height: 11.83rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/rule-bg.png')
    no-repeat top/100%;
  margin: 0.42rem auto 0.21rem;
  font-size: 0.25rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: left;
  color: #000000;
  line-height: 0.44rem;
  box-sizing: border-box;
  padding: 1rem 0.23rem 0 0.43rem;
}
.rule-btn-close {
  width: 0.8rem;
  height: 0.8rem;
  margin: 1rem auto 0.1rem;
  position: relative;
  z-index: 4;
}
.prize-preview-wrap {
  display: none;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 1000;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
}
.prize-preview-img {
  width: 100%;
}

/* 游戏结束页 */
.game-end {
  display: none;
  width: 100%;
  top: 0;
  min-height: 100%;
  background: #521c65
    url('https://filex.wx.siyoumi.com/app/act/t_002/img/game/game-light-bg.png')
    no-repeat top/100%;
  z-index: 1000;
}
.game-end-score {
  margin: -0.5rem auto 0;
  width: 6.2rem;
  height: 10.81rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/game/game-end-bg.png')
    no-repeat top/100%;
}
.game-end-tips {
  font-size: 0.32rem;
  padding-top: 4rem;
  font-family: PingFangSC Medium, PingFangSC Medium-Medium;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}
.game-get-score {
  margin: 0.59rem auto 0;
  width: 2.71rem;
  height: 2.91rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/game/score-bg.png')
    no-repeat;
  background-size: contain;
  font-size: 0.98rem;
  font-family: PingFangSC Medium, PingFangSC Medium-Medium;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  line-height: 0.73rem;
  text-shadow: 0.05rem 0.05rem 0.27rem 0rem rgba(82, 53, 188, 0.31);
  box-sizing: border-box;
  padding-top: 0.79rem;
}
.surplus-num {
  width: 3.67rem;
  height: 0.77rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/game/score-num-bg.png')
    no-repeat;
  background-size: contain;
  margin: 1.1rem auto 0;
  font-size: 0.28rem;
  font-family: PingFangSC Regular, PingFangSC Regular-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.btn-restart-game {
  width: 4rem;
  margin: 0.4rem auto 0.2rem;
}
.back-home {
  width: 4rem;
  margin: 0 auto 0.5rem;
}
.game-load {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  font-size: 16px;
}
.game-load div {
  text-align: center;
  padding-top: 10px;
}
/** end game */
.in {
  -webkit-animation: bounceIn 1s ease 1;
  animation: bounceIn 1s ease 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.out {
  -webkit-animation: bounceOut 1s ease 1;
  animation: bounceOut 1s ease 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* 弹框 */
.alert-mask {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
.alert-mask-cont {
  top: 50%;
  left: 50%;
  margin: -2rem 0 0 -2.7rem;
  width: 5.4rem;
  height: 4rem;
  background: url('https://filex.wx.siyoumi.com/app/act/t_002/img/mask-bg.png')
    no-repeat;
  background-size: contain;
}
.alert-tips-cont {
  text-align: center;
  font-size: 0.28rem;
  font-family: PingFangSC Semibold, PingFangSC Semibold-Semibold;
  font-weight: 600;
  text-align: center;
  color: #541d65;
  padding: 1.5rem 0 0.5rem;
}
.btn-mask-close {
  width: 3.34rem;
  margin: 0 auto;
}
